# Local files
.DS_Store
Thumbs.db
*.log

# IDEs
.vscode/

# Environment Secrets
.env
.env*.local
*.local

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Gemini IDE files
.gemini/
.agents/

# Test coverage
coverage/

# Expo / React Native
.expo/
web-build/
dist/

# TypeScript Caches
*.tsbuildinfo

# Cloudflare Wrangler local states
.wrangler/
.dev.vars
dist/
worker-configuration.d.ts

# Assets folder
**/Assets/

# Temporary web folder
temp-web/
